@{
    Layout = "_Layout";
    var culture = _SiteService.GetCurrentCulture();
}

@section Styles{
    <style>
    </style>
}

    <div class="py-6">
        <div class="row clearfix">
            <div class="col-12">
                <select class="example04 form-control"> 
                </select>
            </div>
        </div>
    </div>

@section Scripts{
    <script>
        $(async () => {
            const option = {
                language: '@culture',
                ajax : {
                    delay : 250, //延遲時間
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                "more": data.pagination
                            }
                        }
                    },
                    transport: function (params, success, failure) {
                        let $request = fetch(`/Common/TestRemoteData`, {
                            headers: {
                                'user-agent': navigator.userAgent,
                                'content-type': 'application/json',
                            },
                            body: JSON.stringify({
                                'Page': params.data.page || 1, // 第幾頁
                                'Rows': 10, // 每頁顯示幾筆資料
                                'Parameter': params.data.term, // 關鍵字查詢
                            }),
                            method: 'POST',
                        }).then(response => {
                            return response.json();
                        }).catch(error => {
                            failure(error);
                        }).then(data => {
                            success(data, params);
                        });
                        return $request;
                    },
                }
            }

            $('.example04').select2(option);
        });
    </script>
}